<launch>

  <!-- ARUCO MARKER DETECTOR -->
  <rosparam command="load" file="$(find stretch_core)/config/stretch_marker_dict.yaml" />
  <node name="detect_aruco_markers" pkg="stretch_core" type="detect_aruco_markers" output="screen"/>
  <!-- -->
  
  <!-- ARUCO MARKER DETECTOR -->
  <rosparam command="load" file="$(find stretch_core)/config/stretch_marker_dict.yaml" />
  <node name="detect_button" pkg="stretch_core" type="detect_button" output="screen"/>
  <!-- -->

</launch>